<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="card.css">
	</head>
	<body>
		<div cla>
			<div class="web-card">
				<div class="web-card__img">
					<img src="../img/img0.jpg" alt="IMG" />
				</div>
				<div class="web-card__info">
					<div class="web-card__date">
						<span>Sunday</span>
						<span>October 27 2019</span>
					</div>
					<h1 class="web-card__title">Shark Sighting</h1>
					<p class="web-card__text">
						Lorem ipsum dolor sit amet, con consectetur adipisicing elit. Autem z Sdolore error est ex iusto
						nulla perspiciatis, similique totam. Est, ? sexercitationem soluta. Aspernatur blanditiis
						delectus ea nulla quam quis ? Svoluptas voluptatem.
					</p>
					<a href="#" class="web-card__cta"> Read more </a>
				</div>
			</div>
		</div>
	</body>
</html>
